<head>
  <h1>Editing Book</h1>
</head>

<body>
  <%= form_with model: @list do |f| %>
    <div class="form">
      <label>Title</label><br>
      <%= f.text_field :title %>
    </div>
    
    <div class="form">
      <label>Body</label><br>
      <%= f.text_area :body %>
    </div>
    
  
    <%= f.submit 'Update Book', class:"btn" %><br>
    <div class="link-space">
      <%= link_to "Show", list_path(@list), class:"link" %>
      |
      <%= link_to "Back", lists_path, class:"link" %>
    </div>
  
  
  <% end %>
</body>